body{
    font-family:verdana, Geneva, Tahoma, sans-serit;
    background-color: #c7d4cf;
    color: black;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    h1{
        color: black;
        margin: 20px;
        text-align: center;
    }
    nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    nav li{
        padding: 10px 15px;
        text-decoration: none;
        align-items: center;
    }